type       = internal
depends-on = early-console.target
depends-on = early-net
depends-on = early-hostname
depends-on = early-fs.target
waits-for.d = /usr/lib/dinit/system/early.d
